.contenedor-1 {
    writing-mode: horizontal-tb;
}

.contenedor-1-display {
     margin-bottom: 5px;
     border-radius: 3px;
    background-color:#1976d2;
    padding: 10px;
    
}
.containerr-2 {
    writing-mode: vertical-lr;
}
.containerr-2-display {

    margin: 5px;
    border-radius: 3px;
    background-color:#1976d2;
    padding: 10px;

}

